*{
    padding: 0;
    margin: 0;
    font-family: Verdana;
    text-decoration: none;
  }
  body,html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .navbar{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    width: 100%;
    height: 130px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .navbar .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 5px 0px;
  }
  .navbar .left{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbar .left img{
    width: 60px;
    transition: color 0.3s, transform 0.3s;
  }
  .navbar .left a:hover,
  .navbar .left img:hover,
  .navbar .right i:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .navbar .right{
    display: flex;
    gap: 35px;
    align-items: center;
  }
  .searchbox input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 600px 12px 40px;
  }
  .right i{
    font-size: 30px;
    color: #000;
    transition: color 0.3s, transform 0.3s;
  }
  .right i:hover{
    cursor: pointer;
  }
  .nav2 .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }
  .nav2 .container .others a{
    color: #000;
    font-size: 14px;
  }
  .nav2 .container .others a:hover{
    cursor: pointer;
    color: rgb(253, 58, 58);
    text-decoration: underline;
    text-decoration-color: rgb(253, 58, 58);
    transition: all  0.3s ease-in-out;
  }.nav2 .dropdown {
    position: relative;
    display: inline-block;
  }
  .nav2 .container .dropbtn {
    background-color: #5e9400;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 180px;
    text-align: center;
    border-radius: 5px;
  }
  .nav2 .container .dropdown:hover .dropbtn {
    background-color: #5e9400;
  }
  .nav2 .container .dropdown-content {
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  .nav2 .container .dropdown-content a {
    color: #fff;
    font-size: 12px;
    padding: 10px 18px;
    text-decoration: none;
    display: block;
  }
  .nav2 .container .dropdown-content a:hover {
    background-color: #404040;
  }
  .nav2 .container .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #ffe9b8;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #000;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border: 1px solid #000;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
  }
  .scroll-up-btn:hover{
    filter: brightness(90%);
  }
.profile{
    margin: 100px;
}
.profile .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
.profile .container .left .pfp{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.profile .container .left .pfp img {
    border-radius: 50%;
    width: 100%; 
    height: auto; 
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
}
.profile .container .left .pfp .details {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profile .container .left .pfp .details .heading {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.profile .container .left .pfp .details .heading h1 {
    font-size: 18px;
    color: #333;
}
.profile .container .left .pfp .details .content {
    margin-top: 15px;
}
.profile .container .left .pfp .details .content .name,
.profile .container .left .pfp .details .content .email,
.profile .container .left .pfp .details .content .phone,
.profile .container .left .pfp .details .content .address ,
.profile .container .left .pfp .details .content .pincode,
.profile .container .left .pfp .details .content .country,
.profile .container .left .pfp .details .content .city  {
    margin-bottom: 15px;
}
.profile .container .left .pfp .details .content p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
.profile .container .left .pfp .details .content h3,
.profile .container .left .pfp .details .content h4 {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.profile .container .left .login-btns{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0px;
}
.login-btns button{
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #e59037;
    border: none;
    border-radius: 10px;
    color: #fff;
}
.login-btns button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #e59037;
    color: #e59037;
}
.profile .container .right{
  padding: 20px;
}
.profile .container .right .heading{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.profile .container .right .heading h1 {
  font-size: 18px;
  color: #333;
}
.profile .container .right .about-you{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile .container .right .about-you .card {
    background-color: #f8fafc;
    display: flex;
    align-items: center;
    border: #bababa 1px solid;
    border-radius: 15px;
    height: 90px;
}
.profile .container .right .about-you .card:hover{
    background-color: #ebebeb;
    cursor: pointer;
    transition: 0.3s all;
}
.profile .container .right .about-you .card img{
    margin: 10px;
    width: 70px;
}
.profile .container .right .about-you .card .content h3{
    font-size: 18px;
    color: #000;
    margin: 10px;
    
}
.profile .container .right .about-you .card .content p{
    font-size: 15px;
    color: #000;
    margin: 10px;
}
.footer {
  padding: 20px 80px;
  background-color: #f1f1f1;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .left img {
  width: 100px;
  display: block;
  margin-bottom: 10px;
}
.footer .left h1 {
  font-size: 24px;
  margin: 0;
}
.footer .right a {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}
.footer .right a:hover {
  text-decoration: underline;
}
.footer hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
.footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .bottom .left p {
  margin: 0;
}
.footer .bottom .right a {
  margin-left: 10px;
  color: #333;
  font-size: 24px;
}
.footer .bottom .right a:hover {
  color: #007bff;
}

@media only screen and (max-width: 1024px) {
  .navbar .left{
    margin-left: 0px;
  }
  .navbar .searchbox input {
    padding: 12px 400px 12px 40px;
  }
  .nav2 .container {
    gap: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .left{
    margin-left: 0px;
  }
  .navbar .searchbox input {
    padding: 12px 200px 12px 40px;
  }
  .nav2 .container {
    gap: 40px;
  }
  .nav2 .container .dropbtn {
    width: 160px;
    font-size: 12px;
  }
  .nav2 .container .others a {
    font-size: 12px;
  }
  .profile {
    margin: 20px;
  }
  .footer .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media only screen and (max-width: 425px) {
  .navbar{
      height: 110px;
  }
  .navbar .container {
      gap: 10px;
  }
  .navbar .left img {
      width: 50px;
  }
  .navbar .searchbox input {
      padding: 12px 00px 12px 40px;
  }
  .navbar .right{
      gap: 10px;
  }
  .navbar .right i {
      font-size: 35px;
  }
  .nav2 .others{
    display: none;
  }
  .profile .container {
    flex-direction: column;
    gap: 20px;
  }
  .profile .container .left .pfp .details .content p {
    font-size: 12px;
  }
  .profile .container .left .pfp .details .content h4 {
    font-size: 14px;
  }
  .profile .container .right .about-you .card {
    height: 60px;
    width: 100%;
  }
  .profile .container .right .about-you .card img {
    width: 50px;
  }
  .profile .container .right .about-you .card .content h3 {
    font-size: 14px;
  }
  .profile .container .right .about-you .card .content p {
    font-size: 12px;
  }
  .footer {
      padding: 20px 30px;
  }
  .footer .left img{
      width: 70px;
  }
  .footer .left h1{
      font-size: 18px;
      text-align: center;
  }
  .footer .right{
      display: flex;
      align-items: center;
  }
  .footer .right a {
      color: #333;
      text-decoration: none;
      font-size: 14px;
  }
  .footer .bottom {
      flex-direction: column-reverse;
  }
  .footer .bottom .left p{
      font-size: 14px;
  }
}

@media only screen and (max-width: 375px) {
  .footer{
      padding: 10px;
  }
  .footer .left img {
      width: 50px;
  }
  .footer .left h1 {
      font-size: 14px;
  }
  .footer .right a {
      font-size: 12px;
  }
  .footer .bottom .left p{
      font-size: 12px;
  }
}
